<launch>
    <arg name="vehicle_control_topic" default="/vehicle_control" />
    <arg name="ego_state_topic" default="/ego_state_feedback" />
    <arg name="state_subscriber_topic" default="/ego_state_feedback" />
    <arg name="mpc_pred_pub_topic" default="/mpc_pred_pose" />      
    <arg name="cmd_control_cloud_topic" default="/delayed_control_command" />
    <arg name="perception_feedback_topic" default="/perception_feedback" />

    <!-- <node pkg="vehicle_sim" type="vehicle_sim.py" name="vehicle_sim_node" output="screen">
    <param name="state_subscriber_topic" value="$(arg state_subscriber_topic )" />
        <param name="mpc_pred_pub_topic" value="$(arg mpc_pred_pub_topic )" />
    </node> -->

    <node pkg="vehicle" type="hospital_bed_node_exp.py" name="hospital_bed_node" output="screen">
        <param name="control_subscriber_topic" value="$(arg vehicle_control_topic )" />
        <param name="state_publisher_topic" value="$(arg ego_state_topic)" />
    </node>
    <node pkg="vehicle_interface" type="feedback_interface.py" name="feedback_interface_node" output="screen">
        <param name="state_subscriber_topic" value="$(arg ego_state_topic )" />
        <param name="perception_publisher_topic" value="$(arg perception_feedback_topic)" />
    </node> 

    <node pkg="vehicle_interface" type="control_interface.py" name="control_interface_node" output="screen">
        <param name="control_subscriber_topic" value="$(arg cmd_control_cloud_topic )" />
        <param name="control_pub_topic" value="$(arg vehicle_control_topic)" />
    </node>
</launch>

  

  











